@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,900&family=Roboto:wght@400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #1B2F4C;
}

/* headings and logo */

h1, h2{
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
}

#logo{
    float: left;
    font-size: 280%;

    margin-left: 300px;
}

/* navigations links */

#menu{
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo{
    line-height: 75px;
}

#menu li{
    font-size: 120%;
    font-weight: 600;
    float: right;
    list-style: none;
    margin-right: 300px;
}

#menu a{
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
   border-bottom: 1px solid #252525; 
}

.active{
    border-bottom: 1px solid #252525;  
}

/* hero image */

#hero-outer{
    height: 850px;
    width: 100%; 
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2{
    color: #fff;
}

#cover-text h3{
    font-weight: 400;
}

#hero-image{
    height: 850px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat;

    /* animated zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates the level of zoom for hero image */

@keyframes hero-zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.05);
    }
}

#cover-text{
    font-size: 130%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;

    width: 500px;
    height: 600px;
    border-radius: 3px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(2, 17, 34, 0.9);

    bottom: 100px;
    left: 300px;

    position: absolute;
}

#cover-text h2{
    padding-bottom: 20px;
}

#cover-text p{
    font-weight: 400;
    padding-bottom: 30px;
}

.cover-h2{

}

/* launch-section */

.launch-section{
    text-align: center;
    padding:  80px 0 100px 0;
    
}

.h3-launch{
    font-size: 44px;
    text-transform: uppercase;
    padding-top: 20px;
}

span{
    color: yellow;
}

/* road map */

.important-header{
    font-size: 48px;
    color: #fff;

    padding-top: 20px;
}

.road-section{
    background-color: rgba(2, 17, 34, 0.8);

    padding-top: 30px;
    padding-bottom: 50px;
}

.road-map{
    color: #fff;
    text-align: center;
    width: 60%;
    margin: 0 auto;   
}


.road-map h3{
    text-align: left;
    padding-top: 28px;
    padding-bottom: 8px;
}

.road-map li {
    list-style: none;
    text-align: left;
}

/* development-section */

.development-section{
    /* background-color: rgba(2, 17, 34, 0.8); */

    padding-top: 30px;
    padding-bottom: 50px;
}


/* FAQS questions  */

.question-section{

    background-color: rgba(2, 17, 34, 0.8);

    padding-top: 30px;
    padding-bottom: 50px;
}

.question-div{
    width: 60%;
    margin: 0 auto;
}

.question-div h2{
    text-align: center;
}

.faqs-h2{
    padding-bottom: 28px;
}

details{
    padding-bottom: 28px;
}

summary{
    font-size: 24px;
    text-transform: uppercase;

    background-color: #1B2F4C;
    border-radius: 3px;
    padding: 10px;
}

.summary-p{
    font-size: 16px;
    font-weight: 400;
    padding-top: 12px;
    padding: 10px;
    
    background-color: #1B2F4C;
    border-radius: 3px;
}

/* our team  */

.our-team-h2{
    text-align: center;
}








/* footer */

footer{
    height: 100px;
}

.social-links{
    text-align: center;
}

.social-links > li{
    display: inline;
}

.social-links i{
    font-size: 250%;
    margin: 1%;
    padding: 4%;
    color: #c9c9c9;

    transition: 0.4s;
}

.social-links i:hover{
    color:#e9e9e9;
    transform: scale(1.1);
}

.footer-copyright{
    text-align: center;
    padding-bottom: 50px;
}
